[2019-10-10 04:21] Xacrolyte opened #214 "Adding a few algos in C++"

[2019-10-21 19:05] ArchitaSaima opened #378 "Add Linear Search in C"

[2019-10-21 19:06] ArchitaSaima opened #379 "Add Mean, Variance and Standard Deviation of a 1-D array"

[2019-10-21 19:33] shivaylamba commented on #379
@ArchitaSaima Whenever you create an issue for a pull request, always mention the Pull request Number for the issue. Just a tip for you. I have already merged your pull request.

[2019-10-21 19:33] #379 closed

[2019-10-21 19:33] #378 closed

[2019-11-05 10:19] GalatasXF opened #499 "T-shirt"
Hey men ty now i cant get the t-shit cause this repo is considered ineligible

[2019-11-06 18:22] #499 closed

[2020-09-30 09:22] hacktoberfest-team opened #505 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thank you for your interest in Hacktoberfest and in helping others make their first contributions to open source.

While we agree that it's important to help others, this repository does not do this in a way that is in line with [the Hacktoberfest values](https://hacktoberfest.digitalocean.com/details). Please read the part that talks about high-quality contributions to understand why w

[2020-09-30 18:22] #505 closed

[2020-10-01 03:18] ketan-lambat opened #516 "Readme.md not in proper markdown format"
The  [README.me](https://github.com/shivaylamba/Hacktoberfest/blob/master/README.md) file is not making the best use of markdown. Many places where code blocks can be inserted are marked with
```// ...... //```.
![image](https://user-images.githubusercontent.com/42700922/94761475-c34bde00-03c2-11eb-8155-a0827a9d0b21.png)

[2020-10-01 03:50] #516 closed

[2020-10-01 10:10] shivaylamba commented on #505
chup madarchod ke bacche

[2020-10-01 10:10] shivaylamba commented on #505
Alright thanks

[2020-10-03 06:44] aayushgarg-03 opened #590 "Add HacktoberFest 2020 Topic"
Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if they wish to participate.

[2020-10-03 06:47] shivaylamba commented on #590
@aayushgarg-03 the label is added. Thankyou!

[2020-10-03 06:47] #590 closed

[2020-10-03 07:01] aayushgarg-03 commented on #590
It still says that the repository is ineligible

[2020-10-04 12:00] kvv1618 commented on #590
The repository is ineligible for hackertober 2020.
Please add the "hacktoberfest" topic to this repository repository

[2020-10-04 12:03] kvv1618 opened #627 "The repository is ineligible for Hacktoberfest 2020"
"Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if they wish to participate."

Please add the "hacktoberfest" topic to this repository

[2020-10-04 12:25] DeltaCoderr commented on #627
Yeah, that said. Hacktoberfest has included some new rules. You should read them just in case, https://hacktoberfest.digitalocean.com/hacktoberfest-update

* Basically just add the Hacktoberfest topic to the repo, and Assign a topic of `hacktoberfest` to the PR. Pull requests to those repos must either be merged, approved or labelled as `hacktoberfest-accepted` to count

[2020-10-04 13:11] shivaylamba commented on #627
Alright @kvv1618

[2020-10-04 13:11] #627 closed

[2020-10-05 12:08] PedroCisnerosSantana opened #640 "The repository is ineligible for Hacktoberfest 2020"
Still having the same issue

 Ineligible Repository
Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if they wish to participate

[2020-10-05 13:25] shivaylamba commented on #640
I have contacted Hacktoberfest Digital ocean Email and I will update once I get a response

[2020-10-05 13:25] #640 closed

[2020-10-06 06:49] rockingrohit9639 opened #658 "Notepad Using Python"
Hey There,
I have created Notepad using Python. I want to contribute it to this repo. Can I ?

[2020-10-06 08:49] shivaylamba commented on #658
Sure @rockingrohit9639

[2020-10-06 08:49] #658 closed

[2020-10-07 03:16] rockingrohit9639 opened #682 "Notepad using Python-Tkinter."
Hii Sir,
I want to contribute my Notepad to this repo. Please assign me to do it.

[2020-10-08 07:45] #682 closed

[2020-10-08 18:14] Japoncio3k opened #696 "Check if a positive integer is the sum of three consecutive prime numbers"
I would like to submit an algorithm in python that checks if a positive integer is the result of a sum of three consecutive prime numbers

[2020-10-09 07:25] shivaylamba commented on #696
Sure

[2020-10-09 07:25] #696 closed

[2020-10-10 13:49] jindalsachin opened #712 "Add two numbers represented by LinkedList"
I want to add a program -Add to numbers represented by Linked List .Please assign me this issue

[2020-10-11 12:51] shivaylamba commented on #712
Sure

[2020-10-11 12:51] #712 closed

[2020-10-15 09:38] Anishahaha opened #755 "Please review the PR"
I opened it 5 days ago and nobody merged it yet, Please look into it. @shivaylamba

[2020-10-15 09:49] shivaylamba commented on #755
what is the PR number

[2020-10-15 09:50] Anishahaha commented on #755
#715

[2020-10-15 17:35] shivaylamba commented on #755
done

[2020-10-15 17:35] #755 closed

[2021-09-30 16:49] ankitalamba opened #957 "Please add linear/sequential search in c++ file"
** Here is my code**
[Linearsearch.txt](https://github.com/shivaylamba/Hacktoberfest/files/7261182/Linearsearch.txt)

[2021-09-30 19:23] itsharshitb commented on #957
I am adding it please accept the request

[2021-09-30 19:42] pratyaksh1610 opened #967 "[FEATURE] Algorithmic approach to problem solving (Linear Search code CPP)"
Adding linear search algorithm code in CPP.
Requesting to add suitable hacktoberfest2021 labels.
Pls assign this to me.

[2021-10-01 03:44] punyakrit commented on #957
i can help in that

[2021-10-01 05:57] rohan26062001 commented on #967
/assign

[2021-10-01 05:57] rohan26062001 commented on #957
/assign

[2021-10-01 08:01] #967 closed, assigned to nobody

[2021-10-01 09:24] imshukla10 commented on #957
pls assign

[2021-10-01 12:58] raghav-manchanda3 commented on #957
pls assign

[2021-10-01 16:05] sonal3yadav commented on #957
PLEASE ASSIGN

[2021-10-01 16:05] meghna750 opened #1006 "KMP- algorithm"
Hello @shivaylamba  ,
I hope you are going very well. I am participating in hacktoberfest2021. I found that in C++ the KMP algorithm is missing, which is a very important algorithm related to pattern matching problems. I want to add this topic to your repo. I will write well commented, justified and easy to understand code, I will make sure that the reader understands each and every line of my cod

[2021-10-02 05:18] himanshugoldy opened #1019 "Reversing K Nodes in Linked List"
I have searched the Linked List Section and found that a very interesting problem of reversing K nodes in a Linked List is missing.I want to merge my code in Github Repo

[2021-10-02 07:14] abhi26ak commented on #1019
can you assign this to me this issue in c++ as a part of hacktoberfest-2021

[2021-10-02 10:50] Phoenix6296 commented on #1019
I would love to solve this problem can you please assign this problem to me.

[2021-10-02 13:55] piyush362 commented on #1019
I want to contribute, can you assign me this issue ?

[2021-10-02 16:21] sudip-mondal-2002 opened #1045 "Binary tree traversals"
Want to integrate binary tree traversals, please assign me an issue

[2021-10-02 16:22] sudip-mondal-2002 opened #1046 "Image to edge detection"
Want to integrate a python notebook explaining image convlutions and creating an edge detection using that, please assign an issue

[2021-10-02 16:23] sudip-mondal-2002 opened #1047 "Image to cartoon convertor"
Want to add code for image to cartoon convertor app, please assign an issue

[2021-10-02 20:15] amanprajapati25 commented on #957
I can fix this problem

[2021-10-02 20:30] luckysharma05 commented on #1045
i have added it to the c++

[2021-10-03 09:34] vivekarora-02 commented on #1019
Hey, there
I want to contribute, can you assign me this issue ?

Thankyou!

[2021-10-04 06:00] yashpy commented on #1045
hi shivay,

Please assign this task to me, I can fix the issue,

Thanking you,

[2021-10-04 06:22] yashpy commented on #1045
I have created Binary Tree traversals in an easy way, Plz mark this as PR closed. Do let me know if you want any changes.

Thanking you.

[2021-10-04 06:23] yashpy commented on #1045
- [x] Done with tree traversals

[2021-10-04 07:27] 2309harshit commented on #1019
hey, can you please assign this issue to me?
thanks in anticipation

[2021-10-04 07:29] 2309harshit commented on #1045
Hey can you please assign this task to me. I think I can do this.
Thanks in anticipation !

[2021-10-04 09:37] virendracarpenter commented on #1045
this is a open source community here no one assign work to anyone just do want you want to work

[2021-10-04 12:53] yashpy commented on #1045
@virendracarpenter your point is absolutely correct, but Its important to ask for an assignment otherwise many people will contribute at once and moreover, the author can only take one person contribution, others code would be rejected and hence will waste their time(which they considered imp for hacktoberfest event), for non- participants its okay any one can contribute, hope you understood the p

[2021-10-04 13:19] satyam-mahajan commented on #1019
Hii , I am able to solve the issue ,please assign to me . I do it in a optimal way .
Thank you...!!!

[2021-10-04 13:22] satyam-mahajan commented on #957
Hii ,I am able to slove the issue in a optimal way .please assign to me.

[2021-10-04 14:41] virendracarpenter commented on #1045
yup bro

[2021-10-04 19:19] dollygupta07 commented on #1019
Hi,
I would like to contribute in this issue. Can you please assign me this issue?

Thank you!

[2021-10-05 09:13] losermyluckwithyou007 commented on #1045
Assigned me I will do it .

[2021-10-05 09:14] losermyluckwithyou007 commented on #1019
Assigned me I will do it . You can check my repos I m always doing CP and Dev.

[2021-10-05 16:40] Ankitlenka26 opened #1117 "I can create mergesort function in c++"
I will create a detailed merge sort function with comments explaining the various steps and time complexity. Can you @shivaylamba please assign it to me?

[2021-10-05 17:02] Akhilesh0947 commented on #1117
I will do it perfect ,please assign it to me

[2021-10-05 20:28] singhdhroov opened #1120 "palindrome number in c++"
I will add this program in C++ assign me this

[2021-10-06 07:08] ProgrammerShri commented on #1120
I will add this program in C++ assign me this

[2021-10-06 11:22] Pranit5895 commented on #1120
I can write this code in C++ please assign me this issue

[2021-10-06 13:13] SAKSHI2569 commented on #1120
please assign me this issue

[2021-10-06 14:10] pinaki18 commented on #1120
I have a good knowledge about C++ please assign me this issue

[2021-10-07 07:49] Bahukhandi93 commented on #1120
Please assign this issue to me. Thank you!

[2021-10-07 10:03] GoyalRohan commented on #1019
I would like to work on this issue
Can you please assign it to me?

[2021-10-07 16:20] virajshitole commented on #1117
i want to work on this issue . i will add theory + code . please assign it to me .

[2021-10-07 16:29] Ishaarora1234 commented on #1120
Please assign this issue to me. I can present the solution in O(logn) time complexity.

[2021-10-07 16:34] Ishaarora1234 commented on #1117
I will present a detailed explanation of the code along with the actual working of the recursive function with the explanation of the function calling and how that takes place in the stack. Please assign it to me...

[2021-10-07 22:39] rishiraj001 commented on #1120
Assign this issue to me .

[2021-10-07 22:41] rishiraj001 commented on #1117
I will write the code in detail with explanation line by line please assign the issue to me.

[2021-10-07 22:43] rishiraj001 commented on #1045
Assign the issue to me i will write the code for all traversals.

[2021-10-08 05:41] ghost commented on #1120
please assign to me.

[2021-10-08 06:12] maanya268 commented on #1117
I would like to work on this issue. I will create the merge sort function explaining each and every part of my code. Could you please assign it to me?

[2021-10-08 16:34] virajshitole commented on #957
i want to add 1. linear search 2 . binary search  3 . ternary Search. can you assign this issue to me?

[2021-10-08 17:28] alokparth commented on #1120
Please assign this issue to me. I can solve this problem.

[2021-10-09 14:38] rcmangnale opened #1159 "add javascript Dsa"
please add javascript Data Structure problems

[2021-10-10 04:59] Abhishek91520 commented on #1120
please assign me this issue

[2021-10-10 11:23] geekytaurus115 commented on #1159
I will add Javascript DSA problems assign me this

[2021-10-10 16:30] Shiva02Kumar commented on #1120
please assign me this issue

[2021-10-10 17:04] vivekarora-02 commented on #1159
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:04] vivekarora-02 commented on #1047
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:05] vivekarora-02 commented on #1006
Hey there,
Can you please assign me this issue?

ThankYou!

[2021-10-10 17:54] aditya18007 opened #1180 "Make a drawing application"
I want to create a repository to showcase how to create an application using modern C++ , including directory structure and Cmake. I will be using Qt6 for the project.

[2021-10-10 20:11] usgn94 commented on #1006
I would like to work on this issue
Could you pls assign me?

[2021-10-11 04:16] #1047 closed, assigned to nobody

[2021-10-11 06:45] viratsharma56 commented on #1120
Please assign me this issue.

[2021-10-12 13:35] shibajyoti17 commented on #1120
Please assign me this issue

[2021-10-13 05:34] Rohit-554 commented on #1120
I am a beginner Please assign this task this will my first contribution

[2021-10-13 05:43] Karandeep715 commented on #1120
I am a beginner in C++ Please assign me this issue. It will be my first contribution

[2021-10-13 07:43] Pratu07-prog opened #1204 "Maximum Path Sum in Binary Tree"
I want to implement Maximum Path Sum in Binary Tree in C++. Please assign it to me under the hacktober fest.
 link to the question: https://leetcode.com/problems/binary-tree-maximum-path-sum/

[2021-10-15 07:51] prakhyatsinghal opened #1218 "FizzBuzz Program In java"
Hello! @shivaylamba I want to add FizzBuzz program of Java in your repo. Please assign it to me.

[2021-10-15 12:28] SmarthGuy commented on #1204
Hello, Please assign me this question. I've solved this question and can provide you with the most optimum solution with explanation. Please assign me this issue.

[2021-10-15 13:55] Asitkumar6205 commented on #1120
I am 3 star at Codechef, with really good hands in CP with DSA, I eagerly want to contribute this year, I haven't contributed until now as it is my first time, can you plz assign me.

[2021-10-15 23:55] FieldMarshallObvious commented on #1120
Is there anyway I can get assigned this issue, I am starting to try to get my commits in for Hacktorbfest this year. I am pretty good with C++, and will be able to resolve this quickly

[2021-10-16 11:36] vivek-0110 commented on #1204
hii @shivaylamba i have created a pr solving  the above issue  kindly review it and let me know if any issue.

[2021-10-16 18:10] stutimohta20 opened #1233 "Sudoku solver using cpp"
Solving all Sudoku problems with this code

[2021-10-16 18:11] stutimohta20 commented on #1233
Please assign this to me.

[2021-10-16 18:49] Samriddh2703 commented on #1120
pls assign to me

[2021-10-17 12:16] stutimohta20 commented on #1233
@shivaylamba . Please assign this issue to me.

[2021-10-17 23:39] aishrii commented on #1120
Please assign me this issue

[2021-10-17 23:42] aishrii commented on #1233
Please assign me this issue. I can successfully complete it

[2021-10-18 08:56] harshita9621 opened #1253 "Trapping Rain Water"
Given n non-negative integers representing an elevation map where the width of each bar is 1, compute how much water it can trap after raining.

Example:

Input: height = [0,1,0,2,1,0,1,3,2,1,2,1]
Output: 6

Kindly assign this issue I want to work under Hacktoberfest 2022.

[2021-10-18 09:40] Harshal-Vaidya commented on #1253
Hi could you please assign me the issue I would like to work on it under Hacktoberfest.

[2021-10-18 13:46] sunitwiz89 commented on #1120
I am 4-star CodeChef coder can you please assign this issue to me.Thanks !!

[2021-10-18 13:58] sunitwiz89 commented on #1204
I am 4-star CodeChef coder can you please assign this issue to me.Thanks !!

[2021-10-18 20:23] theanshulcode opened #1268 "matrix.cpp"
I want to work on it in C++

[2021-10-18 20:25] theanshulcode opened #1269 "ML Clustering algorithm in Python"
I want to work on it and I will be explaining it.

[2021-10-18 20:25] theanshulcode opened #1270 "ML Classification algorithm in Python"
I want to work on it.

[2021-10-19 02:47] tanisha-bhadani commented on #1019
I would love to work on this issue.
I have been practicing DSA for more than 1 year now, and i love solving problems .
So can u please assign this to me ?

[2021-10-19 06:47] Anuja1510 commented on #1120
I would like to work on this issue under Hacktoberfest. Please assign this issue to me.

[2021-10-19 19:50] vijayasrithavva commented on #1253
Hi, could you please assign me the issue?

[2021-10-20 09:36] GauravAmbasta2405 opened #1290 "Codechef SnackDown 2021"
I want to contribute solutions of Codechef SnackDown 2021 Online Qualifiers

[2021-10-20 09:37] GauravAmbasta2405 commented on #1290
i want to work on this issue @shivaylamba . Please assign this to me

[2021-10-20 20:04] Ashish-242 opened #1302 "Missing reverse array problem in c++"
Reverse an array code is missing in code list @shivaylamba

[2021-10-20 20:05] Ashish-242 commented on #1302
I can resolve it please assign me this issue @shivaylamba

[2021-10-21 05:19] justsimplycode commented on #1253
Hi, can you please assign me the issue ,I would like to work on it under Hacktoberfest. I have just recently completed Data structures with C++ course on Coding Ninjas

[2021-10-22 05:32] shrishtickling commented on #1120
Can I solve this?
ThankYou!

[2021-10-22 05:33] shrishtickling commented on #1268
Can I work on this in C++?

[2021-10-22 05:35] shrishtickling commented on #1218
hello! Can I work on this in java?

[2021-10-22 11:49] prajak002 commented on #1204
i  am an aspiring software developer and DA-ML Eenthusiast and love to do cp .. please assign me for this question.. i will give you the most optimum solution

[2021-10-22 11:50] prajak002 commented on #1120
i am an aspiring software developer and DA-ML Eenthusiast and love to do cp .. please assign me for this question.. i will give you the most optimum solution ..thank you

[2021-10-22 11:51] prajak002 commented on #1302
i am an aspiring software developer and DA-ML Eenthusiast and love to do cp .. please assign me for this question.. i will give you the most optimum solution thank you

[2021-10-22 11:51] prajak002 commented on #1269
i am an aspiring software developer and DA-ML Enthusiast and love to do cp .. please assign me for this question.. i will give you the most optimum solution

[2021-10-23 12:37] ghost commented on #1302
I have resolved the issue... here is my pull request
https://github.com/shivaylamba/Hacktoberfest/pull/1340

[2021-10-23 12:44] ghost opened #1341 "Organizing the files"
Many files are outside their respective folders. Either change their location and mention this instruction in the readme file if possible.

[2021-10-23 14:43] adarshgowdaa commented on #1341
I can do it.

[2021-10-23 19:42] DavidMaged171 commented on #1120
Please assign me this issue.

[2021-10-24 13:28] J0SAL opened #1354 "Coin Change Problem (DP)"

[2021-10-25 17:31] nickel-28 opened #1366 "Rat in a maze (CPP)"
Application of backtracking using c++ language

[2021-10-25 17:32] nickel-28 commented on #1366
Please assign this issue this to me @shivaylamba

[2021-10-25 17:46] nickel-28 commented on #1366
Added a Backtracking problem #1367

[2021-10-27 21:10] Backtracker7 opened #1384 "Hello world in python folder for Hacktoberfest 2021"
Hello world! I just need to approve pull request for Hacktroberfest 2021! Happy coding and thnaks! 👍

[2021-10-28 12:46] hackgone commented on #1354
added in java please review it

[2021-10-28 13:05] ghost commented on #1384
Am I only make a program on hello world to contribute?
Assign this issue to me then for my fourth pr.

[2021-10-28 13:15] Backtracker7 commented on #1384
Hi!

Yes, that is what this PR is for. I just want to contribute for
Hacktoberfest, so please accept my request. Thanks

Kind Regards

On Thu, Oct 28, 2021, 3:05 PM Shivam-Amin ***@***.***> wrote:

[2021-10-29 14:34] krypticWinkle commented on #1354
Hello Sir! Please assign me this issue. I can fix.
Thanks!

[2021-10-29 17:42] shine-n-rize opened #1400 "Convex hull"

[2021-10-31 10:10] dhritippaul commented on #1290
I would also like to work on it sir.

[2021-11-28 14:26] #1233 closed, assigned to nobody

[2022-09-30 19:59] iamrishabhjoshi commented on #1366
Please assign this issue this to me @shivaylamba

[2022-10-01 03:47] muskaanrajput14 commented on #1045
Please assign this task to me

[2022-10-01 04:18] shivani1706 opened #1449 "add Breadth First Search Algorithm"
breadth first algorithm to traverse the graphs should be added in C++.

[2022-10-01 04:53] ashu-rb commented on #1366
Please assign this issue this to me @shivaylamba

[2022-10-01 06:33] sohamm20 commented on #1449
Hello, Please assign this task to me

[2022-10-01 15:07] Shivamam opened #1478 "Heapsort Algorithm in Javascript"
Hi, This is my first PR. I would like to contirbute to this repo and add a heapsort Algorithm using javascript.
Thanks!!

[2022-10-01 16:11] NandiniAgrawal15 commented on #1253
Hi can you assign me the problem

[2022-10-01 19:19] Anjani27 opened #1488 "Quick Sort Algorithm in C++"
Hi, @shivalamba This is my first PR. I would like to contribute to this repo and add a quicksort Algorithm using C++.
Please assign this to me under Hacktoberfest 2022 .
Thanks!!

[2022-10-01 19:46] Anjani27 opened #1490 "Subset Generation using Recursion & Backtracking in C++"
Hi, @shivaylamba  I would like to contribute to this repo and add a program of Subset Generation using Recursion & Backtracking in C++. Please assign this to me under Hacktoberfest 2022 .
Thanks!!

[2022-10-02 07:13] codeX1616 opened #1504 "Create a JSON Reader utility class in java that reads JSON file from a path and returns a string response"
Hi @shivaylamba please assign this issue to me.

[2022-10-02 10:13] Abhishek-5854 opened #1512 "Added dijkstra shortest path algo"

[2022-10-02 20:07] chhavi-rana commented on #1512
Please assign me this task....

[2022-10-03 05:47] shivam-cse commented on #1512
I will be doing this task

[2022-10-03 08:17] ayeola05 opened #1535 "Add selectionSort using JS"
Will like to add selection sort using js

[2022-10-03 08:18] ayeola05 commented on #1535
Please assign to me

[2022-10-03 11:44] Sumedh-byte commented on #1488
Hi @shivaylamba , I am interested in resolving this issue and also making my first PR, I am also experienced in CPP language. Please assign it to me. I will deliver it within time.

[2022-10-03 13:48] AlabhyaG opened #1544 "Adding Bubble Sort Program in C++"

[2022-10-03 14:30] Mayurishinde27 commented on #1544
hello @AlabhyaG , I have read the issue and wanted to contribute to your repository.

[2022-10-03 15:28] HemantModi11 commented on #1544
Can I contribute to this?

[2022-10-03 15:28] HemantModi11 commented on #1478
Can I contribute to this?

[2022-10-03 15:41] Manav39 commented on #1218
Hey @prakhyatsinghal , can I work on this ? I will try to provide most efficient solution.

[2022-10-04 05:59] sayanm16 commented on #1544
I want to work on this issue pls assign it to me @AlabhyaG

[2022-10-04 06:05] sayanm16 commented on #1544
I had already completed it pls assign this to me @AlabhyaG

[2022-10-04 06:15] Manav39 commented on #1535
please assign this to me

[2022-10-04 11:58] aparna03dubey opened #1555 "Guess the number"
I want to code for a game called "Guess the random number" using C language. Please allow me to do so.

[2022-10-06 06:57] dinesh21o9 commented on #1555
Please assign this to me, I have already coded it. waiting for your response

[2022-10-06 09:28] anmol111pal commented on #1544
Please assign me this task.

[2022-10-06 10:42] Shubhamsingh2747 commented on #1544
Hey @AlabhyaG , please assign me this issue.

[2022-10-06 12:08] anmol111pal commented on #1120
I am new to open source, please assign me this task.

[2022-10-06 13:59] amanverma2253 commented on #1544
Can you please assign this issue to me ?

[2022-10-06 13:59] amanverma2253 commented on #1488
Can you please assign this issue to me ?

[2022-10-06 13:59] amanverma2253 commented on #1366
Can you please assign this issue to me ?

[2022-10-06 13:59] amanverma2253 commented on #1253
Can you please assign this issue to me ?

[2022-10-06 13:59] amanverma2253 commented on #1120
Can you please assign this issue to me ?

[2022-10-06 14:08] harshita9621 commented on #1253
Can I work on this issue

[2022-10-06 14:34] ProgrammerShri commented on #1120
### Create a pull request, I will accept all the pull requests in this repository within a day.
Thanks.

### How?
1. Follow Me
2. Clone a repository
3. Create a pull request
4. I will accept all, you just need to follow me and create a pull request

https://github.com/ProgrammerShri/Hacktoberfest-Accept-All-Pull-Request

[2022-10-06 15:15] shivang1919 opened #1598 "jarvis in python"
I want to add code for personal assistant in python.

[2022-10-06 15:17] shivang1919 opened #1600 "calculator website in js"
want to add calculator website in js

[2022-10-06 17:28] rohitpadage commented on #1555
I would like to implement the program in python. Please assign the issue asap.

[2022-10-06 17:29] rohitpadage commented on #1270
I have good understanding of machine learning algorithms. Would like to work on it. Please assign the issue asap.

[2022-10-06 19:13] virajshitole commented on #1555
I would like to implement the program in python. Please assign the issue asap.

[2022-10-07 06:12] sajal-19 commented on #1544
Kindly assign  this to me . I have  a very efficient solution for this algorithm.

[2022-10-07 06:13] sajal-19 commented on #1488
Kindly assign this to me . I have a very efficient solution for this algorithm.

[2022-10-07 06:41] harshita9621 opened #1613 "Remove Nth Node From End of List(CPP)"
Can I work on this issue under Hacktoberfest 2022.

[2022-10-07 11:31] ATechAjay commented on #1600
Kindly assigned to me, and change the label of this issue with hacktoberfest.

[2022-10-07 11:45] Addyk16 opened #1624 "excluded from hacktoberfest22"
this repository is being shown excluded from hactoberfest 22

![image](https://user-images.githubusercontent.com/72308974/194545669-9bac52cd-ad1b-4b27-940b-54305fe230b7.png)

[2022-10-07 13:51] janvichoudhary08 commented on #1544
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 13:51] janvichoudhary08 commented on #1488
hey please  assign me  this issue as a part of  hacktoberfest.

[2022-10-07 17:00] k12345v commented on #1366
can you please assign this issue to me ?

[2022-10-07 17:40] ghost opened #1629 "Adding some sorting Techniques"
I want to add some sorting techiniques int this repo like selection, quick sort , merge sort, topological sort .
as only insertion sort is present here.
pls assign this to me under hactoberfest.

[2022-10-07 18:27] sona-123 commented on #1613
Hello , Can you please assign this issue to me?? I have already worked on the code. Please assign this issue to me to work under Hacktoberfest 2022.

[2022-10-08 05:00] nickel-28 opened #1638 "Floyd Warshall Algorithm"
C++ implementation of the **Floyd Warshall** Algorithm

[2022-10-08 05:00] nickel-28 commented on #1638
//assign

[2022-10-08 05:02] DhruvSethi7 commented on #1638
i want to solve this issue please assign it to me

[2022-10-08 05:03] nickel-28 commented on #1638
Hii @shivaylamba
I would like to work on this issue, as I have created this issue

[2022-10-08 06:34] VAIBHAV0526 opened #1644 "segment tree problems"
I want to add some classical problems of segment tree please assign it to me under the hacktober fest (tag)

[2022-10-08 08:15] Junaid20001 commented on #1600
Hello Sir can you assign this project to me

[2022-10-08 09:04] SiddhiKhade commented on #1629
I would really appreciate it, if you would assign this to me, thanks!

[2022-10-08 10:27] shivani736 commented on #1488
can u assign me this issue

[2022-10-08 10:33] shivani736 commented on #1366
can u assign me this issue

[2022-10-08 10:47] k12345v commented on #1366
Yes

On Sat, Oct 8, 2022, 16:03 shivani736 ***@***.***> wrote:

[2022-10-08 10:54] nautiyalamn10 commented on #1490
Hi, @shivaylamba can you please assign this issue to me

[2022-10-08 10:57] M-Rahul1 commented on #1478
Kindly assign this to me . I have a very efficient solutionin c++ for this algorithm.

[2022-10-08 13:50] shivang1919 commented on #1600
hello Sir please assign this issue to me

[2022-10-08 14:03] jaimoryani commented on #1045
Please assign this task to me, I can write the code for all traversals in C++.

[2022-10-08 16:30] RaunakJain21 commented on #1613
hello please assign me that issue

[2022-10-08 16:32] RaunakJain21 commented on #1488
hey please assign me this issue

[2022-10-08 16:33] RaunakJain21 commented on #1290
hey please assign me that issue . i will work on it

[2022-10-08 18:53] mayank-del opened #1657 "Random Rectangle generator using HTML canvas and JavaScript"
This project is using HTML canvas  and vanilla javascript to create random  rectangles   wherever you click on screen

[2022-10-08 18:55] mayank-del commented on #1657
@shivaylamba , Can I add my HTML canvas project here?

[2022-10-09 02:48] Ankur7-7 commented on #1629
Please assign this issue to me, I would be adding some sorting techniques

[2022-10-09 07:08] CoderDebjeet commented on #1535
please assign this to me

[2022-10-09 16:00] SwarajShelavale opened #1679 "Sudoku Solver Application"
Created New Issue...
The amazing Brain Challenging Sudoku Solver Application in C++.
Created by @SwarajShelavale.

[2022-10-09 16:01] SwarajShelavale commented on #1679
Hello Respected Code Maintainer,
I want to merge this amazing Sudoku Solver Application in your repository.
Could you like to assign me this issue, Please ?

[2022-10-09 16:05] SwarajShelavale commented on #1679
Hello Respected Maintainer,
I have solved this issue of Sudoku Solver #1679
Please accept my request... review the code and merge my Pull Request.

[2022-10-09 17:04] anvig29 commented on #1629
Kindly assign this issue to me

[2022-10-09 17:04] anvig29 commented on #1449
Kindly assign this issue to me

[2022-10-09 18:03] abhibajpai77 commented on #1644
Hi VAIBHAV0526,
I want to add some segment tree problems.
Please assign this task to me under the hacktober fest.

[2022-10-09 18:07] abhibajpai77 commented on #1302
Hi @Ashish-242,
I would love to solve this issue. Please assign it to me.

[2022-10-10 04:56] sreyaad commented on #1629
Please Assign this to me. I am familiar with searching and sorting algorithms.

[2022-10-10 08:12] subhasis003 commented on #1613
Hi , can you please assign this issue to me ? I am a beginner in Hacktoberfest & it would be better if you assign this issue to me.

[2022-10-10 08:13] subhasis003 commented on #1535
Hi , can you please assign this issue to me ? I am a beginner in Hacktoberfest & it would be better if you assign this issue to me.

[2022-10-10 08:13] subhasis003 commented on #1488
Hi , can you please assign this issue to me ? I am a beginner in Hacktoberfest & it would be better if you assign this issue to me.

[2022-10-10 08:14] subhasis003 commented on #1366
Hi , can you please assign this issue to me ? I am a beginner in Hacktoberfest & it would be better if you assign this issue to me.

[2022-10-10 08:45] Jayant-001 commented on #1354
Hello, I am interested to work on  this issue.
Could you please assign it to me.

[2022-10-11 05:04] mdzeeshan-2 commented on #1638
hii @shivaylamba Can you assign this issue to me

[2022-10-11 05:05] mdzeeshan-2 commented on #1600
Hii @shivang1919  can you assign this issue to me

[2022-10-11 07:09] Kokonodray2001 commented on #1629
can i do this ? i am familiar with it.

[2022-10-11 12:21] Abhinav092003 commented on #1629
Hey @shivaylamba please assign this problem to me.
i know all the sorting technique... including bubble sort, selection sort and insertion sort and i know 1 more new sorting technique.

[2022-10-11 12:22] Abhinav092003 commented on #1555
@shivaylamba plzz assign to me🙏 i know how to code this.
And believe me I will not disappoint you.

[2022-10-11 12:24] Abhinav092003 commented on #1544
@shivaylamba plz plz 🙏 assign to me....i know bubble sorting in c , c++ and Java language tooo....plz assign me this code

[2022-10-11 12:26] Abhinav092003 commented on #1366
@shivaylamba plz assign this issue with me i already did the code waiting for your reply.

[2022-10-11 12:27] Abhinav092003 commented on #957
Please assign me this code i know how to write this code in c++.
please 🙏 assign this code to me @shivaylamba .
I will not disappoint you

[2022-10-11 16:14] SohanaShabnam05 commented on #1629
please assign this issue to me

[2022-10-11 16:14] SohanaShabnam05 commented on #1302
please assign it to me

[2022-10-11 16:16] SohanaShabnam05 commented on #1120
assign me for this issue

[2022-10-12 06:14] rajdeepsri commented on #1638
please assign it me, i have a really good algorithm

[2022-10-12 10:46] bristi07 commented on #1117
Hello!
It will be my first project.Can you please assign this task to me .I would explain the solution line by line.Please allow me to do this.

[2022-10-12 16:59] AvijeetJain commented on #1544
@shivaylamba hey I want to contribute to this can you please assign this to me?

[2022-10-12 19:20] skywalker2207 commented on #1449
hey @shivaylamba please assign this issue to me I can do it well in c++

[2022-10-12 19:21] skywalker2207 commented on #1629
hwy @shivaylamba please assign this issue to me

[2022-10-12 20:28] SohanaShabnam05 commented on #1544
please assign it to me

[2022-10-13 08:54] Saksham2716 commented on #1544
please assign it to me

[2022-10-13 15:39] Ridham32 commented on #1555
hi @shivaylamba, can u assign this project to me?

[2022-10-14 15:19] mansi-gurnanii02 commented on #1544
I want to contribute in this please assign me this to me @shivaylamba

[2022-10-14 15:53] jalajsc commented on #1488
hi, please assign this issue to me. Quick sort is a divide and conquers algorithm I can add this.😊😊

[2022-10-14 16:52] vivekutture commented on #1544
Hello @shivaylamba can I contribute to this issue. Please assign me this issue.

[2022-10-14 17:01] #1045 closed, assigned to nobody

[2022-10-14 17:34] pathakharsh123 commented on #1679
can I submit the sudoku solver in java

[2022-10-14 18:00] MaYaNkKashyap681 commented on #1354
Can I add C++ code for this problem?

[2022-10-14 19:03] Praashh commented on #1366
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-14 19:06] Praashh commented on #1354
Hy , I'm Prashant Varma and Please Assign me this because I'm a DSA Mentor at GFG , If you will Assign this project to me then , I will not solve your problem but i suggest you , how to solve these kind of problems .

If ,You Agree with me then kindly contact me on my linkedin-https://www.linkedin.com/in/prashant-varma-666735230/

[2022-10-15 01:55] Ajit619 commented on #1512
@shivaylamba Please assign this task to me I have optimal a answer

[2022-10-15 01:57] Ajit619 commented on #1613
@shivaylamba  Please assign this task to me I have optimal answer

[2022-10-15 06:37] annihilon commented on #1638
Hii @shivaylamba
Please assign me this issue..

[2022-10-15 06:38] annihilon commented on #1600
Can u assign me this issue? I'm really good at js

[2022-10-15 06:39] annihilon commented on #1488
Hi @shivaylamba , I am interested in DSA, can u assign me this issue, I can do it in the shortest way.

[2022-10-15 07:15] #1488 closed, assigned to nobody

[2022-10-15 15:57] Abulaman23 commented on #1449
Hello,Kindly assign this issue to me!

[2022-10-15 20:02] PrasanBora commented on #1613
Hello  there , I would like to contribute to this with recurssive as well as two pointer approach with TC and SC for better understanding of code .
Remember i cant contribute unless you assign me :)

[2022-10-16 13:28] Antara25-10 opened #1795 "I want add a Tower of hanoi problem solved in java"
@shivaylamba  Kindly assign me this issue under hacktoberfest 2022

[2022-10-16 13:48] sweekriti121 opened #1796 "Java Program for rotating a linked list"
I want to add this program, kindly assign this issue to me.

[2022-10-16 15:25] aditi-chaurasia commented on #1613
can you assign this issue to me?

[2022-10-16 15:59] pratyushkr11 commented on #1600
Can u assign this issue to me.

[2022-10-16 17:44] Raafay009 commented on #1795
@shivaylamba kindly assign me this project , i have hands on experience on Tower of hanoi in C++ . Thanks !

[2022-10-16 18:33] Antara25-10 commented on #1795
@Raafay009 You can create a new issue on tower of hanoi in c++ as I'm creating it for java.

[2022-10-17 03:15] Anwesha-157 commented on #1638
I want to solve this issue can you assign to me?

[2022-10-17 12:17] arpanbiki commented on #1796
please assign me this issue sir.

[2022-10-17 12:18] arpanbiki commented on #1795
Sir please assign me this issue.

[2022-10-17 14:30] ankita-singh607 commented on #1795
hello sir,
@shivaylamba would you kindly assign me this issue , I have learned java for 3 years, and I think I can contribute on the basis of my learning

[2022-10-17 17:50] codeleaner001 commented on #1555
hi please assign me this project.

[2022-10-17 19:03] ankit060801 commented on #1796
hello sir !please assign me this task

[2022-10-18 12:35] Mayankkumarmk commented on #1366
Hello, Sir @shivaylamba
I would love to contribute in this issue
please assign this task to me❤️

[2022-10-18 12:39] Mayankkumarmk commented on #1120
please assign this task to me
I would love to contribute

[2022-10-19 03:06] Shekhawatt opened #1842 "kefa and park codeforces solution"

[2022-10-19 03:11] Shekhawatt opened #1844 "Divisibility by 2^n codeforces solution"
https://codeforces.com/contest/1744/problem/D

[2022-10-19 14:12] Shekhawatt opened #1854 "maximum distance between two nodes in a graph"

[2022-10-19 16:40] rishabh0303 commented on #1796
Can you assign this issue to me?

[2022-10-19 17:58] ADRITATITIR opened #1859 "Can I add the solution of implementation of queue using stacks? . Please assign this issue"

[2022-10-20 07:41] wasibhussain commented on #1535
hi, i'm here to contribute in JS selection sort algorithm, kindly assign me this task,
thanks!

[2022-10-20 08:25] himanshuj0007 commented on #1544
plz assign me

[2022-10-20 11:24] AyushJainA commented on #1555
Hello Sir Please assign me an issue. I will resolve it with the best methods.

[2022-10-21 04:38] Masoom9587 commented on #1854
please assign it to me

[2022-10-21 13:03] b1form opened #1883 "Can I upload solutions to Codeforces problemset and education solutions ?"

[2022-10-22 02:21] PerksofbeingVaibhav opened #1894 "EXCLUDED"
**### THIS REPO HAS BEEN EXCLUDED FROM THE HACKTOBER FEST AND THE DEVELOPER IS UNAWARE OF THAT!**

[2022-10-22 08:42] CoderKartik-1 opened #1902 "Add Travelling Salesman Problem in Cpp"
Hi there, I believe this problem is one of the fundamental problems based on Hamiltonian Cycle and should be a part of this repo.
Please assign this to me @shivaylamba

[2022-10-23 08:37] mr-hingolja opened #1910 "StringReverse and Palindrome Problem in Java"

[2022-10-23 10:27] shruti-2412 commented on #1910
Can you please assign this to me?

[2022-10-23 11:00] mr-hingolja commented on #1910
yes you can do this.

[2022-10-23 11:15] Abhishekjoshi7 commented on #1910
Please assign this to me!

[2022-10-23 11:23] mr-hingolja commented on #1910
yes you can do this

[2022-10-23 11:24] #1910 closed, assigned to nobody

[2022-10-23 11:59] Abhishekjoshi7 commented on #1902
Please assign this to me!

[2022-10-24 02:36] Abhishekjoshi7 commented on #1796
Please assign me this issue.

[2022-10-24 02:36] Abhishekjoshi7 commented on #1679
Please assign me this issue.

[2022-10-24 02:36] Abhishekjoshi7 commented on #1644
Please assign me this issue.

[2022-10-24 02:37] Abhishekjoshi7 commented on #1478
Please assign me this issue.

[2022-10-24 02:37] Abhishekjoshi7 commented on #1512
Please assign me this issue.

[2022-10-24 02:37] Abhishekjoshi7 commented on #1535
Please assign me this issue.

[2022-10-24 02:37] Abhishekjoshi7 commented on #1544
Please assign me this issue.

[2022-10-24 02:37] Abhishekjoshi7 commented on #1613
Please assign me this issue.

[2022-10-24 02:38] Abhishekjoshi7 commented on #1449
Please assign me this issue.

[2022-10-24 02:38] Abhishekjoshi7 commented on #1366
Please assign me this issue.

[2022-10-24 02:38] Abhishekjoshi7 commented on #1354
Please assign me this issue.

[2022-10-24 02:38] Abhishekjoshi7 commented on #1253
Please assign me this issue.

[2022-10-24 02:39] Abhishekjoshi7 commented on #1218
Please assign me this issue.

[2022-10-24 02:39] Abhishekjoshi7 commented on #1006
Please assign me this issue.

[2022-10-24 02:39] Abhishekjoshi7 commented on #957
Please assign me this issue.

[2022-10-24 02:39] Abhishekjoshi7 commented on #1019
Please assign me this issue.

[2022-10-24 06:11] shaheervk786 commented on #1854
Pls assign me too for this

[2022-10-24 06:12] shaheervk786 commented on #1679
I would like to contribute to this kindly authorize me

[2022-10-24 06:13] shaheervk786 commented on #1384
Assign me pls

[2022-10-24 07:06] anantnipunge opened #1915 "Binary Search Leetcode problems"

[2022-10-24 07:07] anantnipunge commented on #1915
please assign this issue to me? willing to contribute in your project.

[2022-10-25 09:22] Prasad0535 commented on #1915
can you assign me the issue I will add program  of binary serach  problems

[2022-10-25 10:12] Avy2808 commented on #1915
Please assign me this issue, I would add the code of binary search problem.

[2022-10-26 05:33] sahukartikey commented on #1915
Can you assign this issue to me, I can add the code of binary search problem.

[2022-10-26 09:35] Aditya3435 opened #1939 "Fork and logo images not loading in README file"

[2022-10-26 09:36] Aditya3435 commented on #1939
I can fix this can you assign to me?

[2022-10-28 16:32] devesh-y opened #1976 "Preorder Morris Traversal"
hi @shivambachhety  , allow me to add codes for preorder morris traversal in a binary tree

[2022-10-28 17:16] Riddhi12349 commented on #1613
Please assign me this issue.